*{  
    box-sizing: border-box;
}

body {
    background-color: gray;
    margin: 0px;
}

.box{
    text-align: center;
    width: 100px;
    height: 100px;
}

.container {
    width: 200px;
    height: 200px;
    position: relative;
    background-color: lightblue;
}


.box-1{
    background-color: lightcoral;
    position: absolute;
    left: 100px;
    bottom: 100px;
}

.box-2{
    background-color: lightgoldenrodyellow;
    position: absolute;
    bottom: 100px;
    left: 100px;
}

.link-1{
    background-color: blueviolet;
    position: absolute;
    width: 200px;
    top: 50px
}