.p1,
.p2,
.p3 {
    background-color: aqua;
}

.title{
    font-weight: bold;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* En esta ocasion, se denomina selector descendiente. Se utiliza para darle un valor a un atributo unico, que derive de alguna etiqueta, etc. Se usa, por si hay varios elementos que tienen el mismo id y solo se quieren modificar unos cuantos. */
div .title2{
    background-color: teal;
}

/* Con esto se selecciona solo el hermano siguiente. */
.p1 + .title2{
    background-color: red;
}

.p2 ~ p span{
    background-color: orangered;
}

.container > p{
    background-color: blueviolet;
}